#nav-bar {
  background-color: #14213d;
  display: flex;
  position: fixed;
  width: 100vw;
  top: 0px;
  box-shadow: 0 5px 5px rgb(0 0 0 /15%);
}
nav a {
  color: white;
  margin-inline: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}
nav a:hover {
  background-color: #0f192f;
  color: #456ec6;
}
#nav-bar,
#presentation {
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  display: grid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  margin-inline: 20vw;
}
#presentation {
  color: white;
  background-color: #14213d;
  display: flex;
  font-size: 22px;
  height: 87vh;
  padding-top: 9vh;
}
#header-logo {
  align-self: start;
  height: 60px;
}
#headshot {
  width: 50%;
  align-self: end;
}
main section {
  border: 2px solid #00000033;
  border-radius: 10px;
  margin-block: 30px;
  padding-inline: 20px;
}
footer {
  background-color: #14213d;
  color: #e5e5e5;
  padding-inline: 15vw;
  padding-block: 5px;
}
fieldset {
    display: flex;
}
